<h2>Admin Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, placeholder: "Michael Jordan", value: "Michael Jordan", autofocus: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, placeholder: "admin@example.com", value: "admin@example.com", autofocus: false %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, placeholder: "123", value: "123", autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: "123", value: "123", autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<h2>User Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, placeholder: "Scotty Pippen", value: "Scotty Pippen", autofocus: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, placeholder: "user@example.com", value: "user@example.com", autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, placeholder: "123", value: "123", autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: "123", value: "123", autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
