%hr
%h4 Edit Medication
= bootstrap_form_for :medication, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f|
  = f.alert_message "Please fix the errors below."
  = f.text_field :name, placeholder: "Full name of medication", class: "medication_name"
  %br
  = f.text_field :description, placeholder: "The description of medication", class: "medication_description"
  %br
  = f.form_group do
    = f.submit "Add/Edit Medication", class: "btn btn-success medication_submit"
    = link_to "Cancel", medications_path
