%h4 Edit Medication
= form_for @medication do |f|
  = render 'layouts/error_messages', object: @medication
  = f.label :name
  = f.text_field :name, class: "medication_name"
  %br
  = f.label :description
  = f.text_area :description, class: "medication_description"
  %br
  = f.submit "Add/Edit Medication", class: "medication_submit"
