= bootstrap_form_for [@hospital, @patient], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f|
  = f.alert_message "Please fix the errors below."
  = f.text_field :name, placeholder: "Full name of patient", class: "patient_name"
  %br
  = f.email_field :email, placeholder: "The email of patient", class: "patient_email"
  %br
  = f.text_field :disorder, placeholder: "The disorder of patient", class: "patient_disorder"
  %br
  = f.form_group do
    = f.submit "Add/Edit Patient", class: "btn btn-success patient_submit"
    = link_to "Cancel", patients_path

  / %br
  / = f.label :doctor
  / = f.text_field :doctor, class: "patient_doctor"
  / %br
  / - @hospitals.each do |hospital|
  /   = check_box_tag 'patient[hospital_ids][]', hospital.id, @patient.hospitals.include?(hospital), {id: "hospital_id_#{hospital.id}"}
  /   = label_tag "hospital_id_#{hospital.id}", hospital.name
  / %br