%h3 Release Form

%h4 Add any notes for the release of patient

%span.label.label-danger
  Patient's Name: 
= @patient.name
%p
%span.label.label-danger
  Symptoms: 
= @patient.description
%p

.well.bs-component
  = form_for [@hospital, @patient], :html => {:class => "form-horizontal"} do |f|
    %fieldset
      .form-group
        = f.label :release_note, class: "col-lg-2 control-label"
        .col-lg-10
          = f.text_area :release_note, class: "form-control"
      .form-group
        = f.submit 'Submit', :class => 'pull-right'

= link_to "Home", root_path, :class => 'box box-color pull-right'