= bootstrap_form_for @hospital, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f|
  = f.alert_message "Please fix the errors below."
  = f.text_field :name, placeholder: "Full name of hospital", class: "hospital_name"
  %br
  = f.text_field :location, placeholder: "City & state where hospital is located", class: "hospital_location"
  %br
  = f.text_field :specialty, placeholder: "The specialty of hospital", class: "hospital_specialty"
  %br
  = f.check_boxes_collection :doctors, Doctor.all, :id, :name
  %br
  = f.form_group do
    = f.submit "Add/Edit Hospital", class: "btn btn-success hospital_submit"
    = link_to "Cancel", hospitals_path
