%tr{ class: "#{patient.workflow_state} patient patient_#{patient.id}"}
  %td
    = link_to patient.name, patient_path, class: "box"
  %td
    (#{patient.workflow_state})
  %td
    = workflow_links(patient)