= form_for [@hospital, @doctor] do |f|
  = f.label :name
  = f.text_field :name, class: "doctor_name"
  %br
  = f.label :specialty
  = f.text_field :specialty, class: "doctor_specialty"
  %br
  = f.submit "Add/Edit Doctor", class: "doctor_submit"
  = link_to "Cancel", root_path