%hr
%h1.tac
  %strong Doctors
%br
%h5.tac 
  = link_to "Add New Doctor (FIX)", new_doctor_path
%hr
.media
  .media-body
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Specialty
          -if current_user.admin?
            %th
            %th
      %tbody
        - @doctors.each do |doctor|
          %tr
            %td= link_to doctor.name, doctor_path(doctor)
            %td= doctor.specialty
            -if current_user.admin?
              %td
                %p
                  = link_to 'Edit', edit_doctor_path(doctor), :class => 'box'
              %td
                %p
                  = link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'box'
